// colors
$color-primary: #2d3651;
$color-secondary: #e5e5e5;
$color-text-main: #637588;
$color-accent-primary: #d66926;
$color-accent-secondary: #d53d27;
$color-white: #ffffff;

// fonts
$title-font: Roboto Slab, sans-serif;
$general-font: Roboto, sans-serif;
$font-size-general: 16px;
